{% extends 'blog/base.html' %}
{% load static %}
{% block content %}
    <!-- Add header -->
    {% include "blog/header.html" %}
    <!-- end header -->
    <!-- Page Header-->
    <header class="masthead" style="background-image: url('{% if user.profile.profile_image %}{{user.profile.profile_image.url}}{% else %}{% static "blog/img/home-bg.jpg" %}{% endif %}')">
      <div class="container position-relative px-4 px-lg-5">
          <div class="row gx-4 gx-lg-5 justify-content-center">
              <div class="col-md-10 col-lg-8 col-xl-7">
                  <div class="page-heading">
                      <h1>{{user.username}}</h1>
                  </div>
              </div>
          </div>
      </div>
    </header>
    <!-- Main Content-->
<main class="mb-4">
  <div class="container px-4 px-lg-5">
      <div class="row gx-4 gx-lg-5 justify-content-center">
          <div class="col-md-10 col-lg-8 col-xl-7">     
            <div class="profile-container">
                <div class="profile">
                  <img src="{{user.profile.profile_image.url}}" alt="">
                  <h2>{{user.username}}</h2>
                  <p>{{user.email}}</p>
                </div>
                <p class="title">I love reading blogs..</p>
                <a href="{% url 'profile-update' %}" class="button">Update Profile</a>
            </div>
          </div>
      </div>
  </div>
</main>
{% endblock content %}